<a href="https://colab.research.google.com/github/11AJ/Python-Basics/blob/main/Class%20and%20Object(Q%26A).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Display all duplicate items from a list, sample_list = [10, 20, 60, 30, 20, 40, 30, 60, 70, 80]

In [ ]:
sample_list=  [10, 20, 60, 30, 20, 40, 30, 60, 70, 80]

dup_list=[]
count=0

for a in sample_list:
  if a not in dup_list:
    dup_list.append(a)

  else:
    print(a)

20
30
60

Create an outer function that will accept two strings, x and y. (x= 'Emma' and y = 'Kelly'.Create an inner function inside an outer function that will concatenate x and y.At last, an outer function will join the word 'developer' to it.

In [ ]:
def outer_function(x,y):

  def inner_function(x,y):
    return x+y
  add = inner_function(x,y)
  print(add,'developer')

a = outer_function('Emma','Kelly')

EmmaKelly developer

Modify the first item 35 to 3500 of a nested list inside the following list:list1 = [5, [10, 15, [20, 25, [30, 35], 40], 45], 50]

In [ ]:
list1 = [5, [10, 15, [20, 25, [30, 35], 40], 45], 50]

list1[1][2][2][1]=3500
print(list1)

[5, [10, 15, [20, 25, [30, 3500], 40], 45], 50]

Create a child class Bus that will inherit all of the variables and methods of the Vehicle class

In [ ]:
class Vehicle:
  def A(self):
    print('4 Wheels')
  def B(self):
    print('1 Driver needed')

class Bus(Vehicle):
  def C(self):
    print('School bus')
  def D(self):
    print('Transport Bus')

V1= Vehicle()
V2= Bus()

V2.A()

4 Wheels

Class InheritanceGiven:Create a Bus class that inherits from the Vehicle class. Give the capacity argument of Bus.seating_capacity() a default value of 50.

In [ ]:
class Vehicle:
  def A(self):
    print('Vehicle Class : Parent')

class Bus(Vehicle):
  
  def __init__(self,seating_capacity):
    self.seating_capacity = 50

Create a Bus child class that inherits from the Vehicle class. The default fare charge of any vehicle is seating capacity * 100. If Vehicle is Bus instance, we need to add an extra 10% on full fare as a maintenance charge. So total fare for bus instance will become the final amount = total fare + 10% of the total fare.[Note: The bus seating capacity is 50. so the final fare amount should be 5500. You need to override the fare() method of a Vehicle class in Bus class.]

In [ ]:
class Vehicle:
  
  def __init__(self,seating_capacity,fare):
    self.seating_capacity = seating_capacity
    self.fare=fare
    
  
class Bus(Vehicle):
  
  def __init__(self,fare):
    self.seating_capacity=50
    self.fare = self.seating_capacity * 100
 
  def bus_fare(self):
    amount = self.fare + 0.1*(self.fare)
    return amount

P1=Bus(100)

P1.bus_fare()

5500.0

Write a Python class named Student with two attributes student_id, student_name. Add a new attribute student_class and display the entire attribute and their values of the said class. Now remove the student_name attribute and display the entire attribute with values.

In [ ]:
class Student:

  def __init__(self,id,name):
    self.id=id
    self.name=name

class Newstudent(Student):
  def __init__(self,id,name,standard):
    self.standard=standard

class Finalstudent(Newstudent):
  def __init__(self,id,standard):
    self.id=id
    self.standard=standard


S1 = Finalstudent(1,'B.tech')

Write a Python class named Circle constructed by a radius and two methods which will compute the area and the perimeter of a circle.

In [ ]:
class Circle:
  def __init__(self,radius):
    self.radius=radius

  def area(self):
    print('This method will find area')
    area = (22/7)*self.radius*self.radius
    return area

  def perimeter(self):
    print('This methos will find perimeter')
    perimeter = 2*(22/7)*self.radius
    return perimeter

C1=Circle(7)

C1.area()

C1.perimeter()

This method will find area
This methos will find perimeter

44.0

Create a class Bank Account and create methods to depict: 1. Withdrawal and 2. Deposits operations. You may take "amount" as an attribute and initialize it. Create two objects and check for each methods.

In [ ]:
class Bank:
  def __init__(self,amount):
    self.amount=amount

  def Withdrawal(self):
    print('Total amount withdrawl is x')
  
  def Deposit(self):
    print('Total amount deposited is y')

B1=Bank(1000)
B2=Bank(5000)

B1.Withdrawal()
B2.Deposit()

Total amount withdrawl is x
Total amount deposited is y