<a href="https://colab.research.google.com/github/11AJ/Python-Basics/blob/main/Data_Structures_(Q%26A).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Given two lists create a third list by picking an odd-index element from the first list and even index elements from the second.
listOne = [3, 6, 9, 12, 15, 18, 21]
listTwo = [4, 8, 12, 16, 20, 24, 28]

for a in listOne:
  listOne.pop(a)
  a=a+2
print(listOne)

In [ ]:
#Given a list, remove the element at index 4 and add it to the 2nd position and at the end of the list
list1 = [34, 54, 67, 89, 11, 43, 94]

list1.pop(4)
list1.insert(2,11)
list1.append(11)
print(list1)

[34, 54, 11, 67, 89, 43, 94, 11]

In [ ]:
#Given a list slice it into 3 equal chunks and reverse each chunk
sampleList = [11, 45, 8, 23, 14, 12, 78, 45, 89]

list1=sampleList[0:3]
list1.reverse()
list2=sampleList[3:6]
list2.reverse()
list3=sampleList[6:]
list3.reverse()


print('List 1 :',list1)
print('List 2 :',list2)
print('List 3 :',list3)

List 1 : [8, 45, 11]
List 2 : [12, 14, 23]
List 3 : [89, 45, 78]

In [ ]:
#Iterate a given list and count the occurrence of each element and create a dictionary to show the count of each element

sampleList = [11, 45, 8, 11, 23, 45, 23, 45, 89]

CountDict = dict()

for item in sampleList:
  if(item in CountDict):
    CountDict[item] +=1

  else:
    CountDict[item]= 1 

print(CountDict)

{11: 2, 45: 3, 8: 1, 23: 2, 89: 1}

In [ ]:
# Given a two list of equal size create a Python set such that it shows the element from both lists in the pair
List1= [2, 3, 4, 5, 6, 7, 8]
List2 = [4, 9, 16, 25, 36, 49, 64]

pythonset = zip(List1,List2)
resultset= set(pythonset)

print(resultset)

{(6, 36), (8, 64), (4, 16), (5, 25), (3, 9), (7, 49), (2, 4)}

In [ ]:
#Given the following two sets find the intersection and remove those elements from the first set

Set1 = {65, 42, 78, 83, 23, 57, 29}
Set2 = {67, 73, 43, 48, 83, 57, 29}

Set3=Set1.intersection(Set2)
Set4 = Set1 - Set3
print(Set4)

{65, 42, 78, 23}

In [ ]:
#Given two sets, Checks if One Set is a subset or superset of another Set. if the subset is found delete all elements from that set
firstSet = {27, 43, 34}
secondSet = {34, 93, 22, 27, 43, 53, 48}

if(firstSet.issubset(secondSet) or firstSet.issuperset(secondSet)):
  thirdset = secondSet - firstSet
else:
  thirdset = firstSet - secondSet
print(thirdset)

{48, 93, 53, 22}

In [ ]:
#Iterate a given list and Check if a given element already exists in a dictionary as a key’s value if not delete it from the list

rollNumber = [47, 64, 69, 37, 76, 83, 95, 97]
sampleDict ={'John':47, 'Emma':69, 'Kelly':76, 'Jason':97}

commonValue[:] = [a for a in rollNumber if a in sampleDict.values()]

print(commonValue)

[47, 69, 76, 97]

In [ ]:
#Given a dictionary get all values from the dictionary and add them to a list but don’t add duplicate

speed ={'jan':47, 'feb':52, 'march':47, 'April':44, 'May':52, 'June':53, 'july':54, 'Aug':44, 'Sept':54}

list1 = list()

for item in speed.values():
  if(item not in list1):
    list1.append(item)

print(list1)

[47, 52, 44, 53, 54]

In [ ]:
#Remove duplicate from a list and create a tuple and find the minimum and maximum number

sampleList = [87, 45, 41, 65, 94, 41, 99, 94]
new_list=list()
for item in sampleList:
  if(item not in new_list):
    new_list.append(item)
print('Unique items :',new_list)    

new_tuple= tuple(new_list)
print('Tuple :',new_tuple)
print('Minimum :',min(new_tuple))
print('Maximum :',max(new_tuple))

Unique items : [87, 45, 41, 65, 94, 99]
Tuple : (87, 45, 41, 65, 94, 99)
Minimum : 41
Maximum : 99