Create a function showEmployee() in such a way that it should accept employee name, and its salary and display both. If the salary is missing in the function call assign default value 9000 to salary

In [2]:
def showEmployee(name, salary=9000):
    print("Employee", name, "salary is:", salary)

In [5]:
showEmployee("Aashu", 9000)

Employee Aashu salary is: 9000

In [6]:
showEmployee("Aashu")

Employee Aashu salary is: 9000

Create an inner function to calculate the addition in the following way
Create an outer function that will accept two parameters, a and b
Create an inner function inside an outer function that will calculate the addition of a and b
At last, an outer function will add 5 into addition and return it

In [7]:
def outerFun(a, b):
    square = a**2
    def innerFun(a,b):
        return a+b
    add = innerFun(a, b)
    return add+5

In [8]:
result = outerFun(5, 10)
print(result)

20

Write a Python function that checks whether a passed string is palindrome or not.

Note: A palindrome is a word, phrase, or sequence that reads the same backward as forward, e.g., madam or nurses run.

In [9]:
def isPalindrome(s):
    return s == s[::-1]

In [10]:
isPalindrome('aashu')

False

Write a Python program to access a function inside a function.

In [22]:
def test(a):
        def add(b):
                nonlocal a
                a += 1
                return a+b
        return add

In [27]:
func= test(4)
print(func(4))

9

Write a Python function that takes a number as a parameter and check the number is prime or not.

Note : A prime number (or a prime) is a natural number greater than 1 and that has no positive divisors other than 1 and itself.

In [28]:
def test_prime(n):
    if (n==1):
        return False
    elif (n==2):
        return True;
    else:
        for x in range(2,n):
            if(n % x==0):
                return False
        return True

In [29]:
print(test_prime(9))

False

Write a Python program to reverse a string.

In [33]:
def reverse(s):
    s = s[::-1]
    return s

In [34]:
reverse('aashu')

'uhsaa'

Write a Python function to check whether a number is in a given range.

In [38]:
def test_range(n):
    if n in range(3,9):
        print(n,"is in the range")
    else :
        print("The number is outside the given range.")

In [39]:
test_range(5)

5 is in the range

Write a Python function that takes a list and returns a new list with unique elements of the first list.

In [40]:
def unique_list(l):
  x = []
  for a in l:
    if a not in x:
      x.append(a)
  return x

In [41]:
print(unique_list([1,2,3,3,3,3,4,5]))

[1, 2, 3, 4, 5]