<a href="https://colab.research.google.com/github/11AJ/Python-Basics/blob/main/Lists(Q%26A).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Reverse a given list in Python
aLsit = [100, 200, 300, 400, 500]

aLsit.reverse()
print(aLsit)

[500, 400, 300, 200, 100]

In [ ]:
#Concatenate two lists index-wise

list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]

list3= [a+b for a,b in zip(list1,list2)]
print(list3)

['My', 'name', 'is', 'Kelly']

In [ ]:
#Given a Python list of numbers. Turn every item of a list into its square

aList = [1, 2, 3, 4, 5, 6, 7]

list=[a*a for a in aList]

print(list)

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
#Concatenate two lists in the following order

list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]

list3= [a+b for a,b in zip(list1,list2)]
list4 =[i+j for i,j in zip(list1,list2)]

print(list3 + list4)

['Hello Dear', 'take Sir', 'Hello Dear', 'take Sir']

In [ ]:
#Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order

list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
list2.reverse()

for x,y in zip(list1,list2):
  print(x,y)

10 400
20 300
30 200
40 100

In [ ]:
#Remove empty strings from the list of strings

list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]

for i in list1:
  if()

In [ ]:
#Add item 7000 after 6000 in the following Python List

list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

list1[2][2].insert(3,7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [ ]:
#Given a nested list extend it by adding the sub list ["h", "i", "j"] in such a way that it will look like the following list

list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]

list2=["h", "i", "j"]

list1[2][1][2].extend(list2)

print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [ ]:
#Given a Python list, find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of a value

list1 = [5, 10, 15, 20, 25, 50, 20]
check = list1.index(20)
list1[check]=200
print(list1)

[5, 10, 15, 200, 25, 50, 20]

In [ ]:
#Given a Python list, remove all occurrence of 20 from the list

list1 = [5, 20, 15, 20, 25, 50, 20]

for a in list1:
  if(a == 20):
    list1.remove(a)

print(list1)

[5, 15, 25, 50]