<a href="https://colab.research.google.com/github/11AJ/Python-Basics/blob/main/Practice_Set_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Below are the two lists convert it into the dictionary
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

new_dict= dict(zip(keys,values))
print(new_dict)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [ ]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

dict3={**dict1,**dict2}
print(dict3)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [ ]:
sampleDict = {"name": "Kelly","age":25,"salary": 8000,"city": "New york"}
rem={'age','city'}

[sampleDict.pop(key) for key in rem]
print(sampleDict)

In [ ]:
#Get the key corresponding to the minimum value from the following dictionary
sampleDict = {'Physics': 82,'Math': 65,'history': 75}
 
print(min(sampleDict, key=sampleDict.get))

Math

In [ ]:
#Given a Python dictionary, Change Bradâ€™s salary to 8500
sampleDict = {
     'emp1': {'name': 'Jhon', 'salary': 7500},
     'emp2': {'name': 'Emma', 'salary': 8000},
     'emp3': {'name': 'Brad', 'salary': 6500}
}

sampleDict['emp3']['salary']=8500

print(sampleDict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

In [ ]:
#Reverse the following tuple

aTuple = (10, 20, 30, 40, 50)

b = tuple(reversed(aTuple))
print(b)

(50, 40, 30, 20, 10)

In [ ]:
#Unpack the following tuple into 4 variables

aTuple = ('a', 'b', 'c', 'd')

#Expected output:

aTuple1 = (10, 20, 30, 40)
# Your code
#print(a) # should print 10
#print(b) # should print 20
#print(c) # should print 30
#print(d) # should print 40

dict1 = dict(zip(aTuple,aTuple1))
 print('a')